@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* 全体設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #14171a
}

html {
    font-size: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 150px;
}

header .wrapper{
    margin-bottom: 0;
}

.section-title {
    /* 文字がある部分にのみ適用する */
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 60px;
    border-bottom: 1px solid #383e35;
}

.content-title {
    font-size: 1rem;
    margin: 10px 0;
}


/* ヘッダー設定 */

header {
    position: fixed;
    background-color: rgba(255, 255, 255, .5);
    top: 0;
    left: 0;
    right: 0;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header h1 a {
    color: #fafafa;
    background-color: #111;
    padding: 0 1rem;
    border-radius: 10px;
}

header nav ul {
    display: flex;
    padding: 10px 0;
}

header li {
    margin-left: 30px;
}

header li a {
    color: #24292a;
    font-weight: 700;
}

header li a:hover {
    opacity: 0.7;
}

/* メインビジュアル */
main {
    margin-top: 60px;
}

#mainvisual {
    margin-bottom: 80px;
}

#mainvisual img {
    display: block;
    width: 100%;
    height: 600px;
    /* はみでた部分をトリミング */
    object-fit: cover;
}

/* ABOUT */

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img {
    width: 250px;
    height: 250px;
    /* 丸く切り抜く */
    border-radius: 50px;
    /* 画像の右側に余白を置き、テキストとの距離を保つ */
    margin-right: 100px;
}

#about .text {
    text-align: left;
}

/* PHOTO */

#photo ul {
    display: flex;
    justify-content: space-between;
}

#photo li {
    /* 画像間の空白 */
    width: 32%;
}

/* WORKS */

#works ul {
    display: flex;
    justify-content: space-between;
}

#works li {
    /* 画像間の空白 */
    width: 32%;
}

/* CONTACT */

#contact {
    display: center;
    justify-content: space-between;
}

/* フッター */
footer {
    padding: 10px 0;
    text-align: center;
}

/* SP */

@media screen and (max-width:599px) {
.wrapper {
    margin-bottom: 100px;
}

header .wrapper,
.wrapper p {
    margin-left: 1rem;
    margin-right: 1rem;
}

#mainvisual img {
    height:  calc(100vh - 60px);
}

    #about img {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    #about .content {
        flex-direction: column;
    }

    #about .text {
        text-align: center;
    }

    #photo ul {
        flex-direction: column;
    }

    #photo li {
        width: 100%; /* 1列に表示 */
        margin-bottom: 2rem; /* 項目間の余白を追加 */
    }

}
